<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1>Weather app</h1>

    <div class="container">
        <% if(!locals.currentWeather){%>
            <form action="/city" method="POST">
                <input type="text" name="city" placeholder="Enter a city" required>
                <!-- <input type="text" name="state_code" placeholder="Enter State Code(only for the US)">
                <input type="text" name="country_code" placeholder="Enter country Code" required> -->
                <input type="submit" value="Submit">
            </form>
        <% }else{%>
            <div class="weather-card">
                <h2><%= currentWeather.name%></h2>
                <h1><%= Math.round(currentWeather.main.temp)%> C°</h1>
                <p>Max: <%=Math.round(currentWeather.main.temp_max)%> C° Min: <%=Math.round(currentWeather.main.temp)%> C°</p>
                <h3>Weather: </h3>
                <p><%= currentWeather.weather[0].main%></p>
                <p><%= currentWeather.weather[0].description%> </p>
            </div>

        <%}%>
    </div>
    
</body>
</html>